#list1 {
	margin: 0;
	padding: 0;
}

#list1 li {
	color: red;
	list-style-type: square;
	margin-left: 1em;
}

ol {
	margin-left: 0;
	padding-left: 0;	
}
ol li {
	/* list-style-type: decimal-leading-zero; */
	margin-left: 2em;
}

#sections li {
	list-style-type: lower-roman;
}

.rss {
	margin: 5px 5px 0 5px;
	padding:; 0;
	width: 90%;
}

.rss li {
	display: inline-block;
	width: 40%;
	margin: 0 2% 0 0;
	list-style-type: none;
	background: #fff url("rss.png") 0 3px no-repeat;
	padding: 0 0 0.5em 1.5em;
	display: -moz-inline-box;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 2em;
}

#navigation_links {
	margin: 0;
	padding: 0;
}

#navigation_links li {
	display: inline;
	padding: 0 1em 0 0;
}